<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/">about</a></li>
        <li><a href="/">contact us</a></li>
    </ul>
    <div>
    <h1>my gym membership website</h1>
    <!-- <p>
       | #{content}
    </p>
    </div> -->
    <form action="/" method="post" id="contact">
        <input class="input" type="text" name="name" id="name" placeholder="enter your name">
        <input class="input" type="email" name="emailID" id="email ID" placeholder="enter your email ID">
        <input class="input" type="tel" name="phonenumber" id="phone number" placeholder="enter your phone number">
        <input class="input" type="text" name="gender" id="phone gender" placeholder="enter your phone gender">
        <textarea name="address" id="address" cols="30" rows="1" name="more" placeholder="write about yourself..."></textarea>
        <button class="btn">submit</button>
    </form>

</body>
</html>